<article>
  <section id="sites">
    <h1> Learn more about Croquet </h1>
  <ul>
    <li><a href="http://www.croquet.org.uk">The Croquet Association</a></li>
    <li><a href="http://www.southeastcroquet.org.uk">SECF</a></li>
    <li><a href="http://www.thecroquetacademy.com">The Croquet Academy</a></li>
    <li><a href="http://www.oxfordcroquet.com/equip/">Croquet Equipment</a></li>
    <li><a href="http://cornwall-croquet.org.uk/croquet_glossary.html">Croquet Glossary</a></li>
    <li><a href="http://www.oxfordcroquet.com/coach/simplified/">Croquet Rules</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/">World Croquet Federation</a></li>
    </ul>
  </section>
</article>